body {
    background-color: green;
    color: blanchedalmond;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header jackpotDisplay"
    "jackpot jackpotDisplay"
    "screen jackpotDisplay"
    "buttons jackpotDisplay";
    width: 100%;
    height: 100%;
    gap: 1rem;
    grid-template-rows: auto auto 1fr auto;
}

.game {
    display: block;
    width: 270px;
    height: 380px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    border-radius: 20px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

.jackpot {
    grid-area: jackpot;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.screen {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    grid-area: screen;
}

.jackpotAntall {
    display:flex;
    flex-direction: column;
    grid-area: jackpotDisplay;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
}

#gambleButton {
    font-size: 80px;
    border-radius: 20px;
}

