body {
    background-color: green;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "screen"
    "buttons";
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.game {
    display: block;
    width: 270px;
    height: 380px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    border-radius: 20px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

.screen {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    grid-area: screen;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
}

#gambleButton {
    font-size: 80px;
    border-radius: 20px;
}

